.yulingtianxiaright 
{ 
    background: #C3D9FF; 
    height:120px; 
    border:1px solid #BBBBBB; 
}

.yulingtianxiaright a:link 
{ 
    //color: #0057b6;
    color: #339966; 
    text-decoration: none; 
} 
.yulingtianxiaright a:visited 
{ 
    color: #0057b6; 
    text-decoration: none; 
} 
.yulingtianxiaright a:active,a:hover 
{ 
    //color: #0057b6; 
    color: #339966;
    text-decoration: underline; 
}